.row.doubleColumnContent.vdivide.maxWidth
    .col-xs-12.col-sm-6
        p.code.text-center
            | BONUS CODE
            span= code
    .col-xs-12.col-sm-6
        p.text-center.offert
            | Up to  
            span
                | 5 #{courency}
            | bonus if you lose
            //br.visible-sm-block.visible-md-block.visible-lg-block
            //| sie verlieren
