$custom-font: 'Oswald', sans-serif
$brandNetbet: #d91f27
$normalText: white
$contrastText: #fff200

$maxWidth: 700px

img.heroImage
    width: 100%
    margin: 0 auto

.heroContainer
    position: relative
    overflow: hidden
    //height: 100vh
    padding-left: 0
    padding-right: 0
    padding-bottom: 20px

    img.heroImage
        position: absolute
        top: 50%
        transform: translate(0,-50%)
    //section.teamOffert
