$custom-font: 'Oswald', sans-serif
$brandNetbet: #d91f27
$normalText: white
$contrastText: #fff200
$maxWidth: 800px

.heroContainer
    position: relative
    overflow: hidden
    //height: 100vh
    padding-bottom: 20px
.containerFull
    padding-left: 0
    padding-right: 0
