.row.maxWidth
    .col-xs-12.text-center
        p.offert
            include ../../../assets/images/plusAngle
            | BIS ZU
            span
                | 5 #{courency}
                | BONUS-WETTE
            | FALLS SIE VERLIEREN
            //br.visible-sm-block.visible-md-block.visible-lg-block
            //| sie verlieren
