//- add .hidden-xs for bottom navbar
.row.maxWidth
    .col-xs-12.text-center
        button.shiny-button.btn.ctaCenter.text-center.cta.btn-success.btn-lg(type="button")= cta
        p.code.text-center
                | BONUS CODE
                span= code
        
