- var step01 = 'ANMELDEN'
- var step02 = 'WETTEN'
- var step03 = 'BONUS'
.row.steps
    .col-sm-12.col-md-3
        .step
            .number 1
            h5= step01
            //p= step01Sescription
            p
                | Melden Sie sich mit dem 
                strong Aktionscode 
                    span.accent QUOTENBOOST 
                | an
    .col-sm-12.col-md-5
        .step
            .number 2
            h5= step02
            p
                | Wetten Sie auf einen Bayern München Sieg im Markt "FT 1x2" zum aktuellen Preis. Die ersten 5 Euro Ihres Einsatzes werden für erhöhte Quoten verwendet.
    .col-sm-12.col-md-4
        .step
            .number 3
            h5= step03
            p
                | Die zuzüglichen Gewinne werden Ihrem Konto innerhalb von 
                strong 48h gutgeschrieben.
