.moreTeams
    h1
        color: $normalText
        font-size: 1.6em
    span
        font-family: $custom-font
        color: $contrastText
        font-size: 1.6em
        text-transform: uppercase
