.doubleColumnContent
    max-width: $maxWidth
    margin: 0 auto
    padding-top: 1em
    //border-bottom: 2px solid rgba(white, .2)
.code
    color: $normalText
    font-size: 1.5em
    text-align: center
    span
        font-family: $custom-font
        color: $contrastText
        padding: 0 .3em
        font-size: 1.3em

.offert
    color: $normalText
    font-size: 1.5em
    text-align: center
    span
        font-family: $custom-font
        color: $contrastText
        padding: 0 .3em

//@media (min-width: $screen-sm-min)
//    .code
//        text-align: right
//
//    .offert
//        text-align: left

@media (min-width: $screen-sm-min)
    .row.vdivide [class*='col-']:not(:last-child):after
        background: rgba(white, .2)
        width: 2px
        content: ""
        display:block
        position: absolute
        top:0
        bottom: 0
        right: 0
        //min-height: auto
