.row.doubleColumnContent.vdivide.maxWidth
    .col-xs-12.col-sm-6
        p.code.text-center
            | BONUS CODE
            span= code
    .col-xs-12.col-sm-6
        p.text-center.offert
            | BIS ZU
            span
                | 5 #{courency}
                | BONUS-WETTE
            br
            | FALLS SIE VERLIEREN
            //br.visible-sm-block.visible-md-block.visible-lg-block
            //| sie verlieren
