.row.doubleColumnContent.vdivide.maxWidth
    .col-xs-12.col-sm-6
        p.code.text-center
            | BONUSCODE
            span= code
    .col-xs-12.col-sm-6
        p.text-center.offert
            span
                | #{courency} 5
                |  FREE BET
            | IF YOU LOSE
            //br.visible-sm-block.visible-md-block.visible-lg-block
            //| sie verlieren
