.container
    .row
        .col-xs-12.text-center
            p.offert
                | Up to  
                span
                    | 5 #{courency}
                    | BONUS 
                | if You Lose
                //br.visible-sm-block.visible-md-block.visible-lg-block
                //| sie verlieren
