.row.maxWidth
    .col-xs-12.text-center
        button.btn.ctaCenter.text-center.cta.btn-success.btn-lg(type="button")= cta

//.row.maxWidth
    .col-sm-12.col-md-6
        p.code.text-center
            | BONUSCODE
            span UCL10
    .col-sm-12.col-md-6.text-center
        button.btn.ctaCenter.text-center.cta.btn-success.btn-lg(type="button")= cta
