.row.doubleColumnContent.vdivide.maxWidth
    .col-sm-12.col-md-6
        p.code.text-center
            | BONUSCODE
            span UCL10
            br
            span £ 5 FREE BET
            | IF YOU LOSE
    .col-sm-12.col-md-6.text-center
        button.btn.ctaCenter.text-center.cta.btn-success.btn-lg(type="button")= cta
