.container-fluid.heroContainer.containerFull
    .container
        .row
            .col-xs-12.text-center
                p.doubleBadge
                    span.first New 
                    span CUSTOMER OFFERT
