nav.navbar.navbar-default.navbar-fixed-bottom.visible-xs-block
    .container-fluid
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            //- a.navbar-brand(href='#') Brand
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    button.btn.btn-primary.navbar-btn.btn-lg(type="button")= cta
                li
                    button.btn.btn-primary.navbar-btn.btn-lg(type="button")= ctaLogin
        // /.navbar-collapse
      // /.container-fluid
