.row.maxWidth.moreTeams
    .col-xs-12.col-sm-12.text-center
        h1.teamName
            | Both teams to win:
            br
            span.team
                nobr #{team01} 
                | &
                nobr #{team02} 
