.timerSection
    #timer
        .time-text
            span.text.days_text
            span.text.hours_text
            span.text.minutes_text
            span.text.seconds_text
        .time-count
            span.days
            span.hours
            span.minutes
            span.seconds
