.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        a.pull-left(href="#" rel="nofollow")
            .svg-container
                include ../assets/images/logo.svg
        p.custommesage
            block customMesage
                span
                    | NUR  
                | FÜR NEUKUNDEN

        
        a.img-responsive.pull-right.logoCo(href="")
            img(src="assets/images/logoProtv.png" )
        
////.container
//-    .row
//-        .navbar-brand
//-            //#logo.col-xs-6.col-sm-4
//-            //        img.pull-left.img-responsive(src="img/logo.png" alt="NetBet"
//-            if customText == true
//-                col-xs-4.text-center.hidden-xs.custom-text
//-                    h4= customText
//-
//-            if coLogo == true
//-                .col-xs-6.col-sm-4.logo
//-                    img.img-responsive.center-block(src="#{coLogo}" alt="")
//-
