.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        a.pull-left(href="{$url}" rel="nofollow" title="NetBet")
            .svg-container
                include ../assets/images/logo.svg
        // nathy
        // {if $text}
        p.custommesage
            block customMesage
                // nathy
                // {$text}
                span
                    | NUR  
                | FÜR NEUKUNDEN
        // nathy
        // {/if}
        
        // nathy
        // {if $co_logo}
        a.pull-right.logoCo(href="")
            img.img-responsive(src="assets/images/logoProtv.png")
            // img.img-responsive(src="{$co_logo}")
        // nathy
        // {/if}
