.row.maxWidth.teams
    .col-xs-12.col-sm-6.team.team1
        h1.teamName= team01
    .col-xs-12.col-sm-6.team.team2
        h1.teamName= team02
    .split
        if teamSeparator == "versus"
            | vs
        if teamSeparator == "and"
            | &
