- var pathToAssets 	= ""

- var titlePage = "sample page for team bet"

// witch team are playing? 
- var team01 		= "Bayern München"
- var team02 		= "Eintracht Frankfurt"

//- who you want to winn?
- var wins 			= "Bayern München zu gewinnen"
- var code			= "DEVIP"
- var cta           = "Jetzt wetten"

// bet 1
- var firstBetValue01   = "1"
- var firstBetValue02   = "07"

- var secondaBetValue01 = "6"
- var secondaBetValue02 = "0"
- var splitBetvalue = ","
