// lang available DE
- var lang = "EN"

// id taiga is for hero image bg and others assets
- var idTaiga = 1082

// one vs other
// "versus" = "v"
// "and" = &
// "or" = OR


- var teamSeparator = "or"

- var pathToAssets 	= ''
- var titlePage = 'Real Madrid to Qualify, was 5/6 NOW 10/1'
// witch team are playing? 
- var team01 		= 'Man City to WIN'
- var team02 		= 'PSG to WIN'
//- who you want to winn?
- var wins 			= 'Real Madrid to Qualify'
- var code			= 'UCL10'

- var cta           = 'Join now'
- var ctaLogin      = 'Anmeldung'

// bet 1
- var firstBetValue01   = '5'
- var firstBetValue02   = '6'

- var secondaBetValue01 = '10'
- var secondaBetValue02 = '1'
- var splitBetvalue = '/'

//- € &euro;
//- £ &pound;
- var courency = '€'
