// lang available DE
- var lang = "EN"

// id taiga is for hero image bg and others assets
- var idTaiga = 1055

- var pathToAssets 	= ''

- var titlePage = 'Barcelona & Bayern Munich Both to Win was 4/6 NOW 7/1'

// witch team are playing? 
- var team01 		= 'Barcelona'
- var team02 		= 'Bayern Munich'

// one vs other
// can be "versus" = "v"
// or "and" = &
- var teamSeparator = "and"


//- who you want to winn?
- var wins 			= 'Both to Win'
- var code			= 'UCL10'
- var cta           = 'Bet NOW'

// bet 1
- var firstBetValue01   = '4'
- var firstBetValue02   = '6'

- var secondaBetValue01 = '7'
- var secondaBetValue02 = '1'
- var splitBetvalue = '/'

//- € &euro;
//- £ &pound;
- var courency = '€'

// step

- var step01 = 'Join'
- var step01Sescription = 'Create your account with bonuscode UCL10'
- var step02 = 'Bet'
- var step02Sescription = 'Place a double bet on barcelona & bayern munich to win in their ‘ft 1x2’ markets, at the current price. First £/€5 of your stake will be used for the enhanced odds'
- var step03 = 'Get bonus'
- var step03Sescription = 'Additional winnings will be added to your account within 48 hrs. simple!.'
