// lang available DE
- var lang = "DE"

- var pathToAssets 	= ''

- var titlePage = 'Jetzt wetten - Bayern-München vs Eintracht Frankfurt'

// witch team are playing? 
- var team01 		= 'Bayern-München'
- var team02 		= 'Eintracht Frankfurt'

//- who you want to winn?
- var wins 			= 'Bayern München zu gewinnen'
- var code			= 'DEVIP'
- var cta           = 'Jetzt wetten'

// bet 1
- var firstBetValue01   = '1'
- var firstBetValue02   = '07'

- var secondaBetValue01 = '6'
- var secondaBetValue02 = '0'
- var splitBetvalue = ','

//- € &euro;
//- £ &pound;
- var courency = '€'

// step

- var step01 = 'Melden'
- var step01Sescription = 'Melden Sie sich mit dem Aktionscode DEVIP an'
- var step02 = 'Wetten'
- var step02Sescription = 'Wetten Sie auf einen Bayern München Sieg im Markt "FT 1x2" zum aktuellen Preis. Die ersten 5 Euro Ihres Einsatzes werden für erhöhte Quoten verwendet.'
- var step03 = 'BONUS'
- var step03Sescription = 'Die zuzüglichen Gewinne werden Ihrem Konto innerhalb von 48h gutgeschrieben.'
