- var pathToAssets 	= ""
- var team01 		= "Bayern München"
- var team02 		= "Eintracht Frankfurt"
- var wins 			= "Bayern München zu gewinnen"
- var code			= "DEVIP"
- var cta           = "Jetzt wetten"

// bet 1
- var firstBetValue01   = 1
- var firstBetValue02   = 9

- var secondaBetValue01 = 7
- var secondaBetValue02 = 1
- var splitBetvalue = "/"
