//- lang available DE, EN
- var lang = "DE"

//- id taiga is for hero image bg and others assets
- var idTaiga = 1072

//- one vs other
//- can be "versus" = "v"
//- or "and" = &
- var teamSeparator = "versus"

- var pathToAssets 	= ''
- var titlePage = 'Bayern München zu gewinnen WAR 1.68 JETZT 6,0'
//- witch team are playing? 
- var team01 		= 'Benfica'
- var team02 		= 'Bayern München'

//- who you want to winn?
- var wins 			= 'Bayern München zu gewinnen'
- var code			= 'QUOTENBOOST'

- var cta           = 'WETTEN'
- var ctaLogin      = 'Anmeldung'

//- bet 1
if lang == "DE"
    - var firstBetTime   = 'WAR'
    - var secondBetTime = 'JETZ'

if lang == "EN"
    - var firstBetTime   = 'WAS'
    - var secondBetTime = 'NOW'

- var firstBetValue01   = '1'
- var firstBetValue02   = '68'

- var secondaBetValue01 = '6'
- var secondaBetValue02 = '0'
- var splitBetvalue = ','

//- € &euro;
//- £ &pound;
- var courency = '€'
