// lang available DE
- var lang = "DE"

// id taiga is for hero image bg and others assets
- var idTaiga = 1072

// one vs other
// can be "versus" = "v"
// or "and" = &
- var teamSeparator = "versus"

- var pathToAssets 	= ''
- var titlePage = 'Bayern München ur für neukunden, war 1,07 jetzt 6,6'
// witch team are playing? 
- var team01 		= 'Benfica'
- var team02 		= 'Bayern Münich'
//- who you want to winn?
- var wins 			= 'Bayern München ur für neukunden'
- var code			= 'DEVIP'

- var cta           = 'WETTEN'
- var ctaLogin      = 'Anmeldung'

// bet 1
- var firstBetValue01   = '1'
- var firstBetValue02   = '07'

- var secondaBetValue01 = '6'
- var secondaBetValue02 = '6'
- var splitBetvalue = ','

//- € &euro;
//- £ &pound;
- var courency = '€'

block customMesage
    //- span UEFA Champions League
    span
        | NUR  
    | FÜR NEUKUNDEN
